/* Goudy Old Style */
@font-face {
  font-family: "Goudy Old Style";
  src: url("../../assets/fonts/GoudyOldStyle/goudy-old-style.ttf") format("truetype");
}

/* Goudy Old Style Bold */
@font-face {
  font-family: "Goudy Old Style Bold";
  src: url("../../assets/fonts/GoudyOldStyle/goudy-old-style-bold.ttf") format("truetype");
}

/* NotoSans Medium */
@font-face {
  font-family: "NotoSans";
  font-weight: 500;
  src: url("../../assets/fonts/NotoSans/NotoSans-Medium.ttf") format("truetype");
}

/* NotoSans Bold */
@font-face {
  font-family: "NotoSans";
  font-weight: 600;
  src: url("../../assets/fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
}

/* NotoSans ExtraBold */
@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: url("../../assets/fonts/NotoSans/NotoSansJP-ExtraBold.ttf") format("truetype");
}

/* Yu Mincho */
@font-face {
  font-family: "Yu Mincho";
  src: url("../../assets/fonts/YuMincho/yumin.ttf") format("truetype");
}

/* Bahagia */
@font-face {
  font-family: "Bahagia";
  src: url("../../assets/fonts/Bahagia/Bahagia.ttf") format("truetype");
}

/* Lucida Handwriting */
@font-face {
  font-family: "Lucida Handwriting";
  src: url("../../assets/fonts/Lucida/lucida-handwrit.ttf") format("truetype");
}
