@use "variable" as *;

/*=============================================================
 rem
=============================================================*/
@function rem($px) {
  $baseFontsize: 16;
  @return $px / $baseFontsize * 1rem;
}

/*=============================================================
 vw
=============================================================*/
@function vw($px) {
  $viewport: 393;
  @return (calc($px / $viewport) * 100vw);
}

/*=============================================================
 pxをvwに変換
=============================================================*/
@function get_vw($size, $viewport: 393) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}
