@use "variable" as *;
@use "function" as *;

/*=============================================================
 breakpoint
=============================================================*/
$breakpoint-up: (
  "md": "screen and (min-width: 1080px)",
  "sm": "screen and (max-width: 960px)",
) !default;

@mixin mq-up($breakpoint) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}

/*=============================================================
 gradient color
=============================================================*/
@mixin gradient($direction, $color-1, $color-2) {
  background: linear-gradient($direction, $color-1, $color-2);
}

/*=============================================================
 font size
=============================================================*/
@mixin fz_vw($font_size: 10, $viewsize: 393) {
  font-size: $font_size * 1px;
  font-size: get_vw($font_size, $viewsize);
}
