@charset "UTF-8";
/* Goudy Old Style */
@font-face {
  font-family: "Goudy Old Style";
  src: url("../../assets/fonts/GoudyOldStyle/goudy-old-style.ttf") format("truetype");
}
/* Goudy Old Style Bold */
@font-face {
  font-family: "Goudy Old Style Bold";
  src: url("../../assets/fonts/GoudyOldStyle/goudy-old-style-bold.ttf") format("truetype");
}
/* NotoSans Medium */
@font-face {
  font-family: "NotoSans Medium";
  src: url("../../assets/fonts/NotoSans/NotoSans-Medium.ttf") format("truetype");
}
/* NotoSans Bold */
@font-face {
  font-family: "NotoSans Bold";
  src: url("../../assets/fonts/NotoSans/NotoSans-Bold.ttf") format("truetype");
}
/* NotoSans ExtraBold */
@font-face {
  font-family: "NotoSans ExtraBold";
  src: url("../../assets/fonts/NotoSans/NotoSansJP-ExtraBold.ttf") format("truetype");
}
/* Yu Mincho */
@font-face {
  font-family: "Yu Mincho";
  src: url("../../assets/fonts/YuMincho/yumin.ttf") format("truetype");
}
/* Bahagia */
@font-face {
  font-family: "Bahagia";
  src: url("../../assets/fonts/Bahagia/Bahagia.ttf") format("truetype");
}
/* Lucida Handwriting */
@font-face {
  font-family: "Lucida Handwriting";
  src: url("../../assets/fonts/Lucida/lucida-handwrit.ttf") format("truetype");
}
/*=============================================================
 break point
=============================================================*/
/*=============================================================
 color
=============================================================*/
/* text */
/* button */
/* link */
/* background */
/* other */
/*=============================================================
 rem
=============================================================*/
/*=============================================================
 vw
=============================================================*/
/*=============================================================
 pxをvwに変換
=============================================================*/
/*=============================================================
 breakpoint
=============================================================*/
/*=============================================================
 gradient color
=============================================================*/
/*=============================================================
 font size
=============================================================*/
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  color: #ffffff;
  font-family: "Goudy Old Style", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Noto Sans JP", "Yu Mincho", メイリオ, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/*-----------------------------------------------------------
 A Modern CSS Reset
-----------------------------------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  padding: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@-webkit-keyframes rotate-text {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-text {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loop-text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes loop-text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes bgchange {
  0% {
    background: #4e4e4e;
  } /*変化させたい色*/
  25% {
    background: #3e3d39;
  } /*変化させたい色*/
  50% {
    background: #41403e;
  } /*変化させたい色*/
  75% {
    background: #252525;
  } /*変化させたい色*/
  90% {
    background: #b2dffb;
  } /*変化させたい色*/
  100% {
    background: #252525;
  } /*変化させたい色*/
}
@keyframes bgchange {
  0% {
    background: #4e4e4e;
  } /*変化させたい色*/
  25% {
    background: #3e3d39;
  } /*変化させたい色*/
  50% {
    background: #41403e;
  } /*変化させたい色*/
  75% {
    background: #252525;
  } /*変化させたい色*/
  90% {
    background: #b2dffb;
  } /*変化させたい色*/
  100% {
    background: #252525;
  } /*変化させたい色*/
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 195px 0 62px;
  border-top: solid 1px #e8e8e8;
  background-color: #28292b;
}
.footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}
.footer .footer-detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.footer .footer-detail {
  margin-left: 95px;
}
.footer .footer-nav .footer-nav-item {
  font-size: 18px;
  font-family: "Yu Mincho";
  letter-spacing: 3px;
  line-height: 1.8;
}
.footer .footer-nav .footer-nav-item:not(:first-child) {
  margin-top: 33px;
}
.footer .footer-logo {
  font-size: 35px;
  font-weight: bold;
  font-family: "Goudy Old Style Bold";
  letter-spacing: 3px;
}
.footer .footer-disc {
  font-size: 12px;
  font-family: "Goudy Old Style Bold";
  letter-spacing: 3px;
  line-height: 1.8;
}
.footer .footer-info {
  font-size: 12px;
  font-family: "Yu Mincho";
  letter-spacing: 3px;
  line-height: 1.8;
}
.footer .footer-copyright {
  margin-top: 160px;
  font-size: 12px;
  font-family: "Yu Mincho";
  letter-spacing: 3px;
  line-height: 1.8;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 2.4rem 6rem 2rem 6rem;
  background-color: transparent;
  z-index: 10;
}
.header .header-logo {
  color: #fff;
  font-size: 8.4rem;
  font-weight: bold;
  font-family: "Goudy Old Style Bold";
  letter-spacing: 3px;
}
.header .header-toggle {
  position: relative;
  width: 4rem;
  height: 1.2rem;
}
.header .header-toggle div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.header .header-toggle div:last-child {
  top: 11px;
}
.header .header-blank {
  width: 4rem;
  height: 100%;
}
.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-nav .nav-item {
  position: relative;
  padding: 2rem 3.2rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 2px;
}
.header .header-nav a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.overlay.active {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 82.1882951654vw;
  min-height: 59.796437659vw;
  visibility: hidden;
  opacity: 0;
  padding: 8.1424936387vw;
  border-radius: 3.0534351145vw;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}

.btn {
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.btn:active {
  opacity: 0.5;
}

/*=============================================================
 btn / general
=============================================================*/
.btn-general {
  position: relative;
  width: 270px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  z-index: 1;
}
.btn-general.btn-general--black {
  border: 1px solid #29282a;
  color: #29282a;
}
.btn-general.btn-general--black::before {
  background-color: #fff;
  border: 2px solid #fff;
}
.btn-general.btn-general--black::after {
  background-color: #29282a;
}
.btn-general.btn-general--black:hover {
  color: #fff;
}
.btn-general::before, .btn-general::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  -webkit-transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}
.btn-general::before {
  background-color: #29282a;
  border-radius: 50px;
  border: 2px solid #29282a;
  z-index: -1;
}
.btn-general::after {
  background-color: #fff;
  border-radius: 50px;
  z-index: -2;
}
.btn-general:hover {
  color: #29282a;
}
.btn-general:hover::before {
  background: transparent;
}
.btn-general:hover::after {
  top: 6px;
  left: 6px;
}

/*=============================================================
 input text
=============================================================*/
.input-text {
  width: 100%;
  height: 10.1781170483vw;
  padding-bottom: 2.0356234097vw;
  border-radius: 0;
  border-bottom: solid 2px #1c2663;
  background-color: inherit;
  color: #1c2663;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  font-size: 26px;
  font-size: 6.6157760814vw;
}
.input-text::-webkit-input-placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-text::-moz-placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-text:-ms-input-placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-text::-ms-input-placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-text::placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-text:-moz-placeholder-shown {
  border-bottom: 2px solid rgba(28, 38, 99, 0.3);
}
.input-text:-ms-input-placeholder {
  border-bottom: 2px solid rgba(28, 38, 99, 0.3);
}
.input-text:placeholder-shown {
  border-bottom: 2px solid rgba(28, 38, 99, 0.3);
}
.input-text:disabled {
  border-bottom: solid 2px rgba(28, 38, 99, 0.3);
  color: rgba(28, 38, 99, 0.3);
}

/*=============================================================
 input search
=============================================================*/
.input-search {
  position: relative;
  width: 100%;
  padding-bottom: 3.0534351145vw;
  border-bottom: solid 2px #1c2663;
  background-color: inherit;
  background-image: url("../../assets/img/icon/icon-search.svg");
  background-repeat: no-repeat;
  background-position: right 0 top 3.0534351145vw;
  background-size: 6.106870229vw;
  color: #1c2663;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  font-size: 6.6157760814vw;
}

/*=============================================================
 input postcode
=============================================================*/
.post-code {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 2.0356234097vw;
  border-bottom: solid 2px #1c2663;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.post-code::before {
  content: "〒";
  position: absolute;
  left: 0;
  bottom: 1.7811704835vw;
  width: 3.5623409669vw;
  height: 3.5623409669vw;
  color: #1c2663;
  font-weight: bold;
  font-size: 14px;
  font-size: 3.5623409669vw;
}
.post-code .input-post-code {
  background-color: inherit;
  color: #1c2663;
  width: 100%;
  height: 10.941475827vw;
  font-weight: bold;
  font-size: 33px;
  font-size: 8.3969465649vw;
}
.post-code .post-code-hypen {
  opacity: 0.3;
  color: #1c2663;
  font-weight: bold;
  font-size: 33px;
  font-size: 8.3969465649vw;
}

/*=============================================================
 input textarea
=============================================================*/
.input-textarea {
  padding: 4.0712468193vw;
  width: 82.1882951654vw;
  height: 34.3511450382vw;
  color: #1c2663;
  border: 1px solid #1c2663;
  border-radius: 9px;
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
  resize: none;
  font-size: 16px;
  font-size: 4.0712468193vw;
}
.input-textarea::-webkit-input-placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-textarea::-moz-placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-textarea:-ms-input-placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-textarea::-ms-input-placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-textarea::placeholder {
  color: rgba(28, 38, 99, 0.3);
}
.input-textarea:-moz-placeholder-shown {
  border: 1px solid rgba(28, 38, 99, 0.3);
}
.input-textarea:-ms-input-placeholder {
  border: 1px solid rgba(28, 38, 99, 0.3);
}
.input-textarea:placeholder-shown {
  border: 1px solid rgba(28, 38, 99, 0.3);
}

/*=============================================================
 select box
=============================================================*/
.selectbox {
  width: 100%;
  padding-bottom: 2.0356234097vw;
  border-bottom: solid 2px #1c2663;
  background-color: inherit;
  background-image: url(../../assets/img/icon/icon-arrow-under-navy.svg);
  background-position: right 3.5623409669vw top 2.0356234097vw;
  background-repeat: no-repeat;
  background-size: 3.5623409669vw;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* デフォルトの矢印を非表示 */
  color: #1c2663;
  font-weight: bold;
  text-align: center;
  -moz-text-align-last: center;
       text-align-last: center;
  cursor: pointer;
  font-size: 26px;
  font-size: 6.6157760814vw;
  /* 初期表示時 */
}
.selectbox option {
  color: #1c2663;
}
.selectbox.selectbox--font-large {
  font-size: 8.3969465649vw;
}
.selectbox.selectbox--small {
  height: 9.1603053435vw;
  background-position: right 1.0178117048vw top 2.0356234097vw;
  font-size: 4.5801526718vw;
}
.selectbox:invalid {
  color: rgba(28, 38, 99, 0.3);
  border-bottom: solid 2px rgba(28, 38, 99, 0.3);
}
.selectbox:disabled {
  border-bottom: solid 2px rgba(28, 38, 99, 0.3);
  color: rgba(28, 38, 99, 0.3);
}
.selectbox::-ms-expand {
  display: none; /* デフォルトの矢印を非表示(IE用) */
}

/*=============================================================
 radio button
=============================================================*/
.radio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.radio-wrapper .radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -moz-appearance: button;
  -webkit-appearance: button;
          appearance: button;
  width: 37.4045801527vw;
  height: 10.941475827vw;
  border-radius: 5.5979643766vw;
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.radio-wrapper .radio-input {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: none;
}
.radio-wrapper .radio-input:checked + .radio-btn {
  background-color: #1c2663;
  color: #ffffff;
}

/*=============================================================
 accordion / border
=============================================================*/
.accordion-border {
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}
.accordion-border summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 4.0712468193vw 0;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  font-size: 3.5623409669vw;
}
.accordion-border summary::-webkit-details-marker {
  display: none;
}
.accordion-border summary::after {
  content: "";
  width: 3.5623409669vw;
  height: 3.5623409669vw;
  background-image: url("../../assets/img/icon/icon-arrow-under.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.accordion-border .accordion-text {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: 4.5801526718vw 0 4.0712468193vw;
  color: #737373;
  font-weight: 500;
  line-height: 1.5;
  -webkit-transition: opacity 0.5, -webkit-transform 0.5s;
  transition: opacity 0.5, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5;
  transition: transform 0.5s, opacity 0.5, -webkit-transform 0.5s;
  font-size: 14px;
  font-size: 3.5623409669vw;
}
.accordion-border:last-child {
  border-bottom: none;
}
.accordion-border[open] summary::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.accordion-border[open] .accordion-text {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

/*=============================================================
 slider
=============================================================*/
.slider-wrapper {
  width: 100%;
}

.slider {
  width: 100%;
  margin: 0 auto;
}

.slider-img {
  margin: 0;
}

.slider-img img {
  width: 792px;
  height: 497px;
  -o-object-fit: cover;
     object-fit: cover;
}

.circle-text {
  width: 200px;
  height: 200px;
  font-size: 18px;
  font-weight: 900;
  font-family: "NotoSansJP";
  font-weight: 800;
  text-align: center;
  margin: 0;
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
  -webkit-animation: rotate-text 10s linear infinite;
          animation: rotate-text 10s linear infinite;
}
.circle-text span {
  position: absolute;
  top: 0;
  left: calc(50% - 15px);
  display: inline-block;
  width: 30px;
  height: 100px;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.circle-text span:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.circle-text span:nth-child(2) {
  -webkit-transform: rotate(25.7deg);
          transform: rotate(25.7deg);
}
.circle-text span:nth-child(3) {
  -webkit-transform: rotate(51.4deg);
          transform: rotate(51.4deg);
}
.circle-text span:nth-child(4) {
  -webkit-transform: rotate(77.1deg);
          transform: rotate(77.1deg);
}
.circle-text span:nth-child(5) {
  -webkit-transform: rotate(102.8deg);
          transform: rotate(102.8deg);
}
.circle-text span:nth-child(6) {
  -webkit-transform: rotate(128.5deg);
          transform: rotate(128.5deg);
}
.circle-text span:nth-child(7) {
  -webkit-transform: rotate(154.2deg);
          transform: rotate(154.2deg);
}
.circle-text span:nth-child(8) {
  -webkit-transform: rotate(179.9deg);
          transform: rotate(179.9deg);
}
.circle-text span:nth-child(9) {
  -webkit-transform: rotate(205.6deg);
          transform: rotate(205.6deg);
}
.circle-text span:nth-child(10) {
  -webkit-transform: rotate(231.3deg);
          transform: rotate(231.3deg);
}
.circle-text span:nth-child(11) {
  -webkit-transform: rotate(257deg);
          transform: rotate(257deg);
}
.circle-text span:nth-child(12) {
  -webkit-transform: rotate(282.7deg);
          transform: rotate(282.7deg);
}
.circle-text span:nth-child(13) {
  -webkit-transform: rotate(308.4deg);
          transform: rotate(308.4deg);
}
.circle-text span:nth-child(14) {
  -webkit-transform: rotate(334.1deg);
          transform: rotate(334.1deg);
}

.sec-title {
  color: #fff;
  font-size: 4rem;
  font-family: "Lucida Handwriting";
  letter-spacing: 1.5px;
}
.sec-title.sec-title--black {
  color: #29282a;
}

/*=============================================================
  section / kv
=============================================================*/
.sec-kv {
  position: relative;
  height: 100vh;
  -webkit-animation: bgchange 20s ease infinite normal running 0.5s both;
          animation: bgchange 20s ease infinite normal running 0.5s both;
}
.sec-kv .sec-kv-inner {
  padding: 6rem 0 6rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.sec-kv .kv-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 57.28%;
  height: calc(100% - 10vw);
  max-width: 1080px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
@media screen and (min-width: 1281px) {
  .sec-kv .kv-img {
    width: 63.28%;
    height: calc(100% - 8vw);
    max-width: 1280px;
  }
}
.sec-kv .kv-text {
  position: absolute;
  top: 50%;
  left: 6.02%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 1.3;
}

/*=============================================================
  section / about
=============================================================*/
.sec-about {
  position: relative;
  width: 100%;
  min-height: 2500px;
  background-image: url("/assets/img/img-coffee02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sec-about .sec-about-detail {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 24.5rem 0 45.4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#28292b), to(transparent));
  background: linear-gradient(180deg, #28292b, transparent);
}
.sec-about .sec-about-detail .sec-about-detail-title {
  margin-top: 8rem;
  font-size: 3.4rem;
  font-family: "Yu Mincho";
  text-shadow: 1px 2px 4px #4e4e4e;
  line-height: 1.5;
  letter-spacing: 5px;
}
.sec-about .sec-about-detail .sec-about-detail-lead {
  margin-top: 8rem;
  font-size: 1.8rem;
  font-family: "Yu Mincho";
  line-height: 1.8;
  letter-spacing: 1.25px;
}
.sec-about .sec-about-detail-inner {
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

/*=============================================================
  section / menu
=============================================================*/
.sec-menu {
  position: relative;
  background-color: #29282a;
  overflow: hidden;
}
.sec-menu .sec-menu-inner {
  max-width: 1280px;
  padding: 12.5rem 0 16.8rem;
  margin: 0 auto;
  text-align: center;
}
.sec-menu .sec-menu-detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 7.2rem;
  z-index: 3;
}
.sec-menu .sec-menu-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 47rem;
}
.sec-menu .sec-menu-slider {
  width: calc(100% - 490px);
  margin-left: 24px;
}
.sec-menu .sec-menu-disc {
  font-size: 16px;
  text-align: start;
  line-height: 1.5;
}
.sec-menu .sec-menu-list {
  margin-top: 54px;
}
.sec-menu .sec-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  padding-bottom: 14px;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  font-family: "Yu Gothic";
}
.sec-menu .sec-menu-item:not(:first-child) {
  margin-top: 24px;
}
.sec-menu .sec-menu-btn {
  margin-top: 49px;
}
.sec-menu .sec-menu-circle-text {
  position: absolute;
  right: -90px;
  top: -90px;
  z-index: -1;
}

/*=============================================================
  section / product
=============================================================*/
.sec-product {
  position: relative;
  overflow: hidden;
}
.sec-product .sec-product-inner {
  max-width: 1280px;
  padding: 12.5rem 0 14.8rem;
  margin: 0 auto;
  text-align: left;
}
.sec-product .sec-product-detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 72px;
}
.sec-product .sec-product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 470px;
  margin-left: 65px;
}
.sec-product .sec-product-img {
  width: 745px;
  height: 497px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec-product .sec-product-name {
  color: #28292b;
  font-size: 24px;
  font-weight: bold;
  text-align: start;
  line-height: 1.5;
}
.sec-product .sec-product-copy {
  margin-top: 30px;
  color: #28292b;
  font-size: 26px;
  font-weight: bold;
  text-align: start;
  line-height: 1.5;
}
.sec-product .sec-product-disc {
  max-width: 470px;
  margin-top: 18px;
  color: #28292b;
  font-size: 16px;
  text-align: start;
  line-height: 1.5;
}
.sec-product .sec-product-detail-btn {
  margin-top: 28px;
  padding-bottom: 4px;
  border-bottom: 1px solid #8e8d8e;
  color: #8e8d8e;
  font-size: 13px;
  font-weight: bold;
  text-align: start;
}
.sec-product .sec-product-btn {
  margin-top: 32px;
}
.sec-product .sec-product-circle-text {
  position: absolute;
  left: -90px;
  bottom: -90px;
  color: #28292b;
  z-index: -1;
}

/*=============================================================
  section / message
=============================================================*/
.sec-message {
  position: relative;
  width: 100%;
  min-height: 186.23vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e4e1), to(transparent));
  background: linear-gradient(180deg, #e8e4e1, transparent);
  overflow: hidden;
}
.sec-message .sec-message-inner {
  max-width: 600px;
  margin: 0 auto;
  padding: 245px 0 454px;
  color: #29282a;
  text-align: center;
}
.sec-message .sec-message-title {
  margin-top: 80px;
  font-size: 34px;
  font-family: "Yu Mincho";
  line-height: 1.5;
  letter-spacing: 5px;
}
.sec-message .sec-message-lead {
  margin-top: 80px;
  font-size: 18px;
  font-family: "Yu Mincho";
  line-height: 1.8;
  letter-spacing: 1.25px;
}
.sec-message .sec-message-slide-wrapper {
  position: absolute;
  left: 0;
  bottom: -42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}
.sec-message .sec-message-slide-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  -webkit-animation: loop-text 40s infinite linear 0.5s both;
          animation: loop-text 40s infinite linear 0.5s both;
}
.sec-message .sec-message-slide-text span {
  display: inline-block;
  white-space: nowrap;
  color: transparent;
  font-size: 24rem;
  font-weight: 900;
  font-family: "Noto Sans JP";
  -webkit-text-stroke: 2px #b3aea8;
  -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.sec-message .sec-message-slide-text span:hover {
  -webkit-transform: translateY(-38px);
          transform: translateY(-38px);
}
.sec-message .img01 {
  position: absolute;
  width: 22.53%;
  height: 30.04vw;
  top: 15.09vw;
  right: 3.55vw;
}
.sec-message .img02 {
  position: absolute;
  width: 20.5%;
  height: 35.26vw;
  top: 39.92vw;
  left: 0;
}
.sec-message .img03 {
  position: absolute;
  width: 21.49%;
  height: 29.83vw;
  top: 72.67vw;
  right: 8.34vw;
}
.sec-message .img04 {
  position: absolute;
  width: 27.82%;
  height: 18.57vw;
  top: 95.97vw;
  left: 20.1vw;
}
.sec-message .img05 {
  position: absolute;
  width: 20.5%;
  height: 29.83vw;
  top: 137.35vw;
  left: 9.87vw;
}
.sec-message .img06 {
  position: absolute;
  width: 35.47%;
  height: 21.83vw;
  top: 134.35vw;
  right: 14.74vw;
}

/*=============================================================
  section / info
=============================================================*/
.sec-info {
  position: relative;
  background-color: #f7f5f0;
}
.sec-info .sec-info-inner {
  padding: 125px 92px 67px;
  text-align: center;
}
.sec-info .sec-info-list {
  max-width: 935px;
  margin: 72px auto 0;
}
.sec-info .sec-info-list .sec-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: relative;
  padding: 36px 41px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.sec-info .sec-info-list .sec-info-item:not(:first-child) {
  margin-top: 20px;
}
.sec-info .sec-info-list .sec-info-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -120px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 123px;
  height: 13px;
  background-image: url("../../assets/img/icon/icon-info-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.sec-info .sec-info-list .sec-info-item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sec-info .sec-info-list .sec-info-item:hover .sec-info-item-title {
  position: relative;
}
.sec-info .sec-info-list .sec-info-item:hover .sec-info-item-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
  height: 2px;
  margin: auto;
  background: #ff701e;
}
.sec-info .sec-info-list .sec-info-item:hover .sec-info-item-title:hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.sec-info .sec-info-list .sec-info-item-label {
  width: 100px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: rgba(56, 43, 26, 0.38);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  font-family: "Noto Sans JP";
  letter-spacing: 2px;
}
.sec-info .sec-info-list .sec-info-item-title {
  position: relative;
  margin-top: 16px;
  color: #404040;
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Sans JP";
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.sec-info .sec-info-list .sec-info-item-date {
  margin-top: 14px;
  color: rgba(64, 64, 64, 0.5);
  font-size: 16px;
  font-weight: bold;
  font-family: "Noto Sans JP";
}
.sec-info .sec-info-btn {
  margin-top: 70px;
}