@use "../global/function" as *;
@use "../global/mixin" as *;
@use "../global/variable" as *;

.btn {
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:active {
    opacity: 0.5;
  }
}

/*=============================================================
 btn / general
=============================================================*/
.btn-general {
  position: relative;
  width: 270px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  z-index: 1;

  @include mq-up(sm) {
    width: vw(200);
    padding: vw(15);
    font-size: 1.6rem;
  }

  &.btn-general--black {
    border: 1px solid #29282a;
    color: #29282a;

    &::before {
      background-color: #fff;
      border: 2px solid #fff;
    }
    &::after {
      background-color: #29282a;
    }
    &:hover {
      color: #fff;
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  }
  &::before {
    background-color: #29282a;
    border-radius: 50px;
    border: 2px solid #29282a;
    z-index: -1;
  }
  &::after {
    background-color: #fff;
    border-radius: 50px;
    z-index: -2;
  }
  &:hover {
    color: #29282a;
  }
  &:hover::before {
    background: transparent;
  }
  &:hover::after {
    top: 6px;
    left: 6px;
  }
}
