@use "../global/font" as *;
@use "../global/variable" as *;
@use "../global/mixin" as *;
@use "../global/function" as *;

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include mq-up(sm) {
    font-size: 2.67vw;
  }
}

body {
  background-color: $color-base-white;
  color: $color-white;
  font-family: "Goudy Old Style", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "Noto Sans JP", "Yu Mincho", メイリオ, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
