@use "../global/animation" as *;
@use "../global/function" as *;
@use "../global/mixin" as *;
@use "../global/variable" as *;

.sec-title {
  color: #fff;
  font-size: 4rem;
  font-family: "Lucida Handwriting";
  letter-spacing: 1.5px;

  @include mq-up(sm) {
    font-size: 3.2rem;
  }

  &.sec-title--black {
    color: #29282a;
  }
}

.br-none {
  display: block;

  @include mq-up(sm) {
    display: none;
  }
}

/*=============================================================
  section / kv
=============================================================*/
.sec-kv {
  position: relative;
  height: 100vh;
  background-color: #4e4e4e;

  .sec-kv-inner {
    padding: 6rem 0 6rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @include mq-up(sm) {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: end;
      padding: vw(60) vw(24) vw(30);
    }
  }

  .kv-img-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 47%;
    height: 30vw;
    max-width: 1080px;
    object-fit: cover;
    margin: 0 auto;

    .kv-img {
      overflow: hidden;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: -5px;
        left: 0;
        bottom: 0;
        right: 0;
        height: auto;
        background-color: #4e4e4e;
        pointer-events: none;
        z-index: 1;
        animation: img-wrap 1.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    @include mq-up(sm) {
      bottom: 5.5rem;
      width: 90%;
      height: 59vw;
      max-width: 100%;
    }
  }

  .kv-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 6.02%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 2px;
    line-height: 1.3;

    span {
      display: block;
      margin-top: 24px;
      animation: slideText 0.8s ease 0.2s forwards;
      opacity: 0;

      @include mq-up(sm) {
        margin-top: vw(18);
      }
    }

    .delay02 {
      animation-delay: 0.2s;
    }
    .delay04 {
      animation-delay: 0.4s;
    }
    .delay06 {
      animation-delay: 0.6s;
    }
    .delay08 {
      animation-delay: 0.8s;
    }

    @include mq-up(sm) {
      flex-direction: column-reverse;
      top: 66%;
      transform: translateY(0);
      font-size: 1.4rem;
      line-height: 1.1;
    }
  }
}

/*=============================================================
  section / about
=============================================================*/
.sec-about {
  position: relative;
  width: 100%;

  @include mq-up(sm) {
    display: flex;
    flex-direction: column-reverse;
  }

  .sec-about-bg {
    position: relative;
    width: 100%;
    min-height: 2500px;
    background-image: url("/assets/img/img-coffee02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mq-up(sm) {
      height: 100%;
      min-height: 100vh;
      z-index: 1;
    }
  }

  .sec-about-bg-black {
    display: none;

    @include mq-up(sm) {
      display: block;
      width: 100%;
      padding-top: vw(500);
      background-color: #09090b;
      z-index: 2;
      transform: translateY(1px);
    }
  }

  .sec-about-detail {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 24.5rem 0 45.4rem;
    @include gradient(180deg, #28292b, transparent);

    @include mq-up(sm) {
      padding: vw(120) 0 vw(200);
      z-index: 3;
    }

    .sec-about-detail-title {
      margin-top: 8rem;
      font-size: 3.4rem;
      font-family: "Yu Mincho";
      text-shadow: 1px 2px 4px #4e4e4e;
      line-height: 1.8;
      letter-spacing: 5px;

      @include mq-up(sm) {
        margin-top: vw(80);
        font-size: 1.8rem;
      }
    }

    .sec-about-detail-lead {
      margin-top: 8rem;
      font-size: 1.8rem;
      font-family: "Yu Mincho";
      line-height: 1.8;
      letter-spacing: 1.25px;

      @include mq-up(sm) {
        margin-top: vw(80);
        font-size: 1.2rem;
      }
    }
  }

  .sec-about-detail-inner {
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
    text-align: center;

    @include mq-up(sm) {
      max-width: 100%;
    }
  }
}

/*=============================================================
  section / menu
=============================================================*/
.sec-menu {
  position: relative;
  background-color: #29282a;
  overflow: hidden;

  .sec-menu-inner {
    max-width: 1280px;
    padding: 12.5rem 0 16.8rem;
    margin: 0 auto;
    text-align: center;

    @include mq-up(sm) {
      position: relative;
      max-width: 100%;
      padding: vw(100) vw(24) vw(120);
    }
  }

  .sec-menu-detail-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1080px;
    margin: 7.2rem auto 0;
    z-index: 3;

    @include mq-up(sm) {
      margin: vw(102) auto 0;
    }
  }

  .sec-menu-detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 47rem;
    background-color: #29282a;

    @include mq-up(sm) {
      margin-top: vw(36);
      padding-bottom: vw(30);
    }
  }

  .sec-menu-slider {
    width: calc(100% - 490px);
    margin-left: 24px;
  }

  .sec-menu-name {
    font-size: 28px;
    font-weight: bold;
    text-align: start;
    line-height: 1.5;

    @include mq-up(sm) {
      font-size: 1.8rem;
    }
  }

  .sec-menu-name-en {
    font-size: 16px;
    font-weight: bold;
    font-family: "Yu Gothic";
    text-align: start;
    line-height: 1.5;

    @include mq-up(sm) {
      font-size: 1.2rem;
    }
  }

  .sec-menu-copy {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: start;
    line-height: 1.5;

    @include mq-up(sm) {
      margin-top: vw(10);
      font-size: 1.6rem;
    }
  }

  .sec-menu-disc {
    margin-top: 18px;
    font-size: 16px;
    text-align: start;
    line-height: 1.5;

    @include mq-up(sm) {
      margin-top: vw(10);
      font-size: 1.4rem;
    }
  }

  .sec-menu-btn {
    margin-top: 49px;

    @include mq-up(sm) {
      margin: vw(50) auto 0;
    }
  }

  .sec-menu-circle-text {
    position: absolute;
    right: -71px;
    top: -71px;
    z-index: -1;

    @include mq-up(sm) {
      top: vw(-61);
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }
  }
}

/*=============================================================
  section / product
=============================================================*/
.sec-product {
  position: relative;
  overflow: hidden;

  .sec-product-inner {
    position: relative;
    max-width: 1080px;
    padding: 12.5rem 0 14.8rem;
    margin: 0 auto;
    text-align: left;

    @include mq-up(sm) {
      position: relative;
      max-width: 100%;
      padding: vw(100) vw(24) vw(120);
      text-align: center;
    }
  }

  .sec-product-outside-right {
    position: absolute;
    top: 242px;
    right: 0;
    width: 50vw;
    height: 500px;
    background-color: #f7f5f0;

    @include mq-up(sm) {
      top: vw(362);
      width: 96vw;
      height: vw(500);
    }
  }

  .sec-product-detail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 450px;
    max-width: 1080px;
    margin: 72px auto 0;

    @include mq-up(sm) {
      flex-direction: column;
      height: auto;
      max-width: 100%;
      margin-top: vw(102);
    }
  }

  .sec-product-detail {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 470px;
    margin-left: 65px;

    @include mq-up(sm) {
      max-width: 100%;
      margin-left: 0;
      margin-top: vw(36);
    }
  }

  .sec-product-img {
    width: 600px;
    height: 400px;
    min-width: 600px;
    overflow: hidden;

    @include mq-up(sm) {
      min-width: 100%;
      width: 100%;
      height: 57vw;
    }

    img {
      width: 100%;

      &:hover {
        transform: scale(1.1, 1.1);
        transition: transform ease-in 0.3s;
      }
    }
  }

  .sec-product-name {
    color: #28292b;
    font-size: 24px;
    font-weight: bold;
    text-align: start;
    line-height: 1.5;

    @include mq-up(sm) {
      font-size: 1.8rem;
    }
  }

  .sec-product-name-en {
    color: #28292b;
    font-size: 16px;
    font-weight: bold;
    font-family: "Yu Gothic";
    text-align: start;
    line-height: 1.5;

    @include mq-up(sm) {
      font-size: 1.2rem;
    }
  }

  .sec-product-copy {
    margin-top: 30px;
    color: #28292b;
    font-size: 26px;
    font-weight: bold;
    text-align: start;
    line-height: 1.5;

    @include mq-up(sm) {
      margin-top: vw(10);
      font-size: 1.6rem;
    }
  }

  .sec-product-disc {
    max-width: 470px;
    margin-top: 18px;
    color: #28292b;
    font-size: 16px;
    text-align: start;
    line-height: 1.5;

    @include mq-up(sm) {
      margin-top: vw(10);
      font-size: 1.4rem;
    }
  }

  .sec-product-detail-btn {
    position: relative;
    margin-top: 28px;
    padding-bottom: 4px;
    color: #8e8d8e;
    font-size: 13px;
    font-weight: bold;
    text-align: start;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      transform-origin: left top;
      transform: scale(0, 1);
      transition: transform 0.3s;
      width: 100%;
      height: 1px;
      margin: auto;
      background: #8e8d8e;
    }

    &:hover {
      &::before {
        transform: scale(1, 1);
      }
    }

    @include mq-up(sm) {
      margin-top: vw(24);
      font-size: 1.2rem;
    }
  }

  .sec-product-btn {
    margin-top: 32px;

    @include mq-up(sm) {
      margin: vw(60) auto 0;
    }
  }

  .sec-product-circle-text {
    position: absolute;
    left: -71px;
    bottom: -71px;
    color: #28292b;
    z-index: -1;

    @include mq-up(sm) {
      top: vw(-64);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/*=============================================================
  section / message
=============================================================*/
.sec-message {
  position: relative;
  width: 100%;
  min-height: 157vw;
  @include gradient(180deg, #e8e4e1, transparent);
  overflow: hidden;

  @include mq-up(sm) {
    min-height: 100%;
  }

  .sec-message-inner {
    max-width: 600px;
    margin: 0 auto;
    padding: 245px 0 1420px;
    color: #29282a;
    text-align: center;

    @include mq-up(sm) {
      max-width: 100%;
      padding: vw(500) vw(24) vw(680);
    }
  }

  .sec-message-title {
    margin-top: 80px;
    font-size: 34px;
    font-family: "Yu Mincho";
    line-height: 1.8;
    letter-spacing: 5px;

    @include mq-up(sm) {
      font-size: 1.8rem;
    }
  }

  .sec-message-lead {
    margin-top: 80px;
    font-size: 18px;
    font-family: "Yu Mincho";
    line-height: 1.9;
    letter-spacing: 1.25px;

    span {
      display: block;
      margin-top: 42px;
    }

    @include mq-up(sm) {
      font-size: 1.2rem;
    }
  }

  .sec-message-slide-wrapper {
    position: absolute;
    left: 0;
    bottom: -58px;
    display: flex;
    align-items: center;
    width: 100vw;

    @include mq-up(sm) {
      bottom: -34px;
    }
  }

  .sec-message-slide-text {
    display: flex;
    margin-right: 3rem;
    animation: loop-text 60s infinite linear 0.5s both;

    span {
      display: inline-block;
      white-space: nowrap;
      color: transparent;
      font-size: 24rem;
      font-weight: 900;
      font-family: "Noto Sans JP";
      -webkit-text-stroke: 2px #b3aea8;
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

      @include mq-up(sm) {
        font-size: 14rem;
      }

      &:hover {
        transform: translateY(-28px);
      }
    }
  }

  .img01 {
    position: absolute;
    top: 120px;
    right: 30px;
    width: 22vw;
    height: 30vw;

    @include mq-up(sm) {
      top: 8rem;
      width: 26vw;
      height: 34vw;
    }
  }
  .img02 {
    position: absolute;
    top: 570px;
    left: 0;
    width: 20vw;
    height: 35vw;

    @include mq-up(sm) {
      top: 18rem;
      width: 24vw;
      height: 39vw;
    }
  }
  .img03 {
    position: absolute;
    top: 1030px;
    right: 80px;
    width: 18vw;
    height: 30vw;

    @include mq-up(sm) {
      top: 31rem;
      right: 6rem;
      width: 24vw;
      height: 36vw;
    }
  }
  .img04 {
    position: absolute;
    top: 1428px;
    left: 20rem;
    width: 28vw;
    height: 18vw;

    @include mq-up(sm) {
      top: 128rem;
      left: 7rem;
    }
  }
  .img05 {
    position: absolute;
    top: 2000px;
    left: 9.87vw;
    width: 20vw;
    height: 30vw;

    @include mq-up(sm) {
      top: 150rem;
      right: 2rem;
      width: 29vw;
      height: 42vw;
    }
  }
  .img06 {
    position: absolute;
    top: 1802px;
    right: 7vw;
    width: 35vw;
    height: 22vw;

    @include mq-up(sm) {
      top: 140rem;
      right: 2rem;
    }
  }
}

/*=============================================================
  section / info
=============================================================*/
.sec-info {
  position: relative;
  background-color: #f7f5f0;

  .sec-info-inner {
    padding: 125px 92px 67px;
    text-align: center;

    @include mq-up(sm) {
      padding: vw(100) vw(24) vw(64);
    }
  }

  .sec-info-list {
    max-width: 935px;
    margin: 72px auto 0;

    @include mq-up(sm) {
      max-width: 100%;
      margin: vw(72) 0 0;
    }

    .sec-info-item {
      display: flex;
      flex-direction: column;
      align-items: start;
      position: relative;
      padding: 36px 41px;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);

      @include mq-up(sm) {
        padding: vw(20);
      }

      &:not(:first-child) {
        margin-top: 20px;

        @include mq-up(sm) {
          margin-top: vw(20);
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: -48px;
        bottom: 20px;
        width: 123px;
        height: 13px;
        background-image: url("../../assets/img/icon/icon-info-arrow.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 0.3s;

        @include mq-up(sm) {
          top: auto;
          bottom: vw(14);
          right: vw(-10);
          transform: translateX(0);
          width: vw(59);
          height: vw(6);
        }
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &:hover {
        &::after {
          transition: right ease 0.3s;
          right: -70px;
        }

        .sec-info-item-title {
          &::before {
            transform: scale(1, 1);
          }
        }
      }
    }

    .sec-info-item-label {
      width: 100px;
      padding: 5px 10px;
      border-radius: 50px;
      background-color: rgba($color: #382b1a, $alpha: 0.38);
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      font-family: "Noto Sans JP";
      letter-spacing: 2px;

      @include mq-up(sm) {
        width: auto;
        padding: vw(5) vw(24);
        font-size: 1rem;
      }
    }

    .sec-info-item-title {
      position: relative;
      margin-top: 16px;
      color: #404040;
      font-size: 20px;
      font-weight: bold;
      font-family: "Noto Sans JP";
      line-height: 1.5;
      letter-spacing: 1.5px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        transform-origin: left top;
        transform: scale(0, 1);
        transition: transform 0.3s;
        width: 100%;
        height: 3px;
        margin: auto;
        background: #404040;
      }

      @include mq-up(sm) {
        margin-top: vw(12);
        font-size: 1.5rem;
      }
    }

    .sec-info-item-date {
      margin-top: 14px;
      color: rgba($color: #404040, $alpha: 0.5);
      font-size: 16px;
      font-weight: bold;
      font-family: "Noto Sans JP";

      @include mq-up(sm) {
        margin-top: vw(10);
        font-size: 1rem;
      }
    }
  }

  .sec-info-btn {
    margin-top: 70px;

    @include mq-up(sm) {
      margin-top: vw(60);
    }
  }
}
